.calculadora-idade__input {
  display: flex;
  justify-content: center;
}
.calculadora-idade__input-data {
  font-family: var(--fonte-primaria);
  font-size: var(--fonte-md);
  border: none;
  border-radius: 12px;
  padding: 8px 16px;
  margin: 20px;
  color: var(--cor-texto-secundario);
  background: var(--cor-superficie-secundaria);
}
.calculadora-idade__resultado {
  display: flex;
  gap: 20px;
}
.calculadora-idade__resultado-item {
  display: flex;
  align-items: center;
  gap: 4px;
}
.calculadora-idade__resultado-valor {
  font-family: var(--fonte-secundaria);
  font-size: 6rem;
  color: var(--cor-texto-primario);
}
.calculadora-idade__resultado-rotulo {
  font-family: var(--fonte-primaria);
  font-size: var(--fonte-xl);
  color: var(--cor-texto-secundario);
}
