
.conversor-tempo__inputs {
display: grid;
gap: 12px;
margin-top: 40px;
}

.conversor-tempo__input {
  font-family: var(--fonte-secundaria);
  font-size: var(--fonte-xl);
  border: none;
  border-radius: 12px;
  padding: 8px 16px;
  max-width: 10ch;
  text-align: end;
  background: none;
  color: var(--cor-texto-primario);
}

.conversor-tempo__rotulo {
  font-family: var(--fonte-primaria);
  font-size: var(--fonte-xl);
  color: var(--cor-texto-secundario);
}