* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
body {
  background: #000;
}
h1,
h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: #fff;
}
input:focus,
button:focus {
  outline: 2px solid #6b6b6b;
}
/* ocultar itens */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
}
.header,
.container,
.footer {
  max-width: 1400px;
  margin: 0 auto;
}
.header,
.container {
  padding: 40px 40px 0px 40px;
}
.container {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}

/* footer */
.footer {
  font-family: "Poppins", sans-serif;
  font-size: 0.875rem;
  color: #b7b7b7;
  padding: 60px 0px;
  text-align: center;
}
.footer a {
  color: #b7b7b7;
  display: inline-flex;
  align-items: center;
  gap: 4px;
}


