* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
body {
  background: var(--cor-fundo);
  height: 100vh;
}
input:focus,
button:focus {
  outline: 2px solid var(--cor-foco);
}
/* remove setas */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
main {
  position: relative;
}

/* paginas */
.estrutura {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 120px 1fr;
  grid-template-rows: 60px auto;
  grid-template-areas:
    "sidenav header"
    "sidenav conteudo";
}
.header {
  grid-area: header;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px 0 20px;
}
.header__lista {
  display: flex;
  gap: 12px;
  align-items: center;
}
.header__btn {
  border: none;
  background: none;
}
.sidenav {
  grid-area: sidenav;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--cor-superficie-primaria);
}
.sidenav__lista {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.sidenav__item {
  display: grid;
  place-content: center;
}
.sidenav__item img {
  display: block;
  justify-self: center;
  margin-bottom: 4px;
}
.sidenav__item a {
  background: var(--cor-fundo);
  border-radius: 20px;
  padding: 20px 0px;
  width: 100px;
  height: 100px;
  font-family: var(--fonte-primaria);
  font-size: var(--fonte-sm);
  color: var(--cor-texto-primario);
  text-align: center;
}
.sidenav__item a:hover {
  background: var(--cor-superficie-secundaria);
}
.conteudo {
  grid-area: conteudo;
  display: grid;
  place-content: center;
}

/* footer */
.footer {
  font-family: var(--fonte-primaria);
  font-size: var(--fonte-sm);
  color: var(--cor-texto-secundario);
  padding: 40px;
  text-align: center;
}
.footer a {
  color: var(--cor-texto-secundario);
  display: inline-flex;
  align-items: center;
  gap: 4px;
}
