* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
body {
  background: var(--cor-fundo);
  height: 100vh;
}
input:focus,
button:focus {
  outline: 2px solid var(--cor-foco);
}


/* footer */
.footer {
  font-family: var(--fonte-primaria);
  font-size: var(--fonte-sm);
  color: var(--cor-texto-secundario);
  padding: 40px;
  text-align: center;
}
.footer a {
  color: var(--cor-texto-secundario);
  display: inline-flex;
  align-items: center;
  gap: 4px;
}
