.header-home,
.container-home,
.footer {
  max-width: 1400px;
  margin: 0 auto;
}
.header-home,
.container-home {
  padding: 20px 40px 0px 40px;
}
.container-home {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}
.header-home__img {
  width: 180px;
}
/* temporizador */
.temporizador-home__formulario {
  margin-bottom: 55px;
}
.temporizador-home__tempo {
  align-self: center;
  font-family: var(--fonte-secundaria);
  font-size: var(--fonte-xl);
  font-weight: var(--fonte-peso-medio);
  color: var(--cor-texto-primario);
}
/* horario atual */
.horario-atual-home__conteudo {
  align-items: center;
  justify-content: center;
}
.horario-atual-home__hora {
  font-family: var(--fonte-secundaria);
  font-size: var(--fonte-xl);
  font-weight: var(--fonte-peso-medio);
  color: var(--cor-texto-primario);
}
.horario-atual-home__local {
  font-family: var(--fonte-primaria);
  font-size: var(--fonte-md);
  color: var(--cor-texto-secundario);
}
/* cronometro */
.cronometro-home__conteudo {
  align-items: center;
  justify-content: center;
}
.cronometro-home__tempo {
  font-family: var(--fonte-secundaria);
  font-size: var(--fonte-xl);
  font-weight: var(--fonte-peso-medio);
  color: var(--cor-texto-primario);
}
.cronometro-home__opcoes button {
  border: none;
  border-radius: 8px;
  padding: 4px 8px;
  background: var(--cor-superficie-secundaria);
  color: var(--cor-texto-suave);
}
/* calculadora de idade */
.calculadora-idade-home__input {
  margin-bottom: 12px;
}
.calculadora-idade-home__texto {
  font-family: var(--fonte-primaria);
  font-size: var(--fonte-lg);
  font-weight: var(--fonte-peso-regular);
  color: var(--cor-texto-secundario);
}
.calculadora-idade-home__texto--result {
  font-family: var(--fonte-secundaria);
  font-size: var(--fonte-lg);
  font-weight: var(--fonte-peso-medio);
  color: var(--cor-texto-primario);
}
/* conversor de tempo */
.conversor-tempo-home__opcoes {
  display: grid;
  grid-template-columns: 1fr auto;
  margin-bottom: 6px;
}
.conversor-tempo-home__conteudo input {
  max-width: 10ch;
}
/* calculo entre datas */
.calculo-datas-home__inputs {
  margin-bottom: 40px;
}
.calculo-datas-home__opcoes {
  display: grid;
  grid-template-columns: 1fr auto;
  margin-bottom: 8px;
}
.calculo-datas-home__resultado {
  text-align: center;
}
.calculo-datas-home__resultado-valor {
  font-family: var(--fonte-secundaria);
  font-size: var(--fonte-lg);
  font-weight: var(--fonte-peso-medio);
  color: var(--cor-texto-primario);
}
.calculo-datas-home__resultado-rotulo {
  font-family: var(--fonte-primaria);
  color: var(--cor-texto-secundario);
  font-size: var(--fonte-lg);
}
