[data-menu="button"] {
  display: none;
}
@media (max-width: 700px) {
  [data-menu="button"] {
    display: flex;
    align-items: center;
    border: none;
    padding: 8px;
    background: var(--cor-fundo);
    color: var(--cor-texto-primario);
    position: absolute;
    top: 4rem;
    z-index: 9;
  }
  [data-menu="button"]::before {
    margin-right: 4px;
    content: "";
    display: inline-block;
    height: 2px;
    width: 12px;
    background: var(--cor-texto-primario);
    box-shadow:
      0 4px var(--cor-texto-primario),
      0 -4px var(--cor-texto-primario);
      transition: transform .3s;
  }
  [data-menu="button"].active::before {
    transform: rotate(90deg);
  }
  [data-menu="lista"] {
    display: none;
    z-index: 2;
    transition: 3s;
  }
  [data-menu="lista"].active {
    display: flex;
    z-index: 2;
  }
}
