@import url("./variaveis.css");
@import url("./utilitarios.css");
@import url("./global.css");
@import url("./home.css");

/* paginas */
@import url("./temporizador.css");
@import url("./horario-atual.css");
@import url("./cronometro.css");
