@import url("./variaveis.css");
@import url("./utilitarios.css");
@import url("./global.css");
@import url("./home.css");

/* paginas */
@import url("./temporizador.css");
@import url("./horario-atual.css");
@import url("./cronometro.css");
@import url("./calculadora-idade.css");
@import url("./conversor-tempo.css");
@import url("./calculo-datas.css");

main:fullscreen {
  width: 100%;
  height: 100%;
  padding: 1rem;
}
