* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
body {
  background: #000;
}
.header,
.container,
.footer {
  max-width: 1400px;
  margin: 0 auto;
  padding-left: 40px;
  padding-right: 40px;
}
.container {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}
h1,
h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: #fff;
}
h1 {
  font-size: 4rem;
  margin-bottom: 40px;
}
h2 {
  font-size: 1rem;
  margin-bottom: 4px;
}
section {
  flex: 1 1 calc(33.333% - 27px);
  min-width: 270px;
}
input {
  background: #272727;
  border: none;
  border-radius: 8px;
  padding: 4px 8px;
  color: #7c7c7c;
}
input:focus,
button:focus {
  outline: 2px solid #6b6b6b;
}
label {
  font-family: "Poppins";
  font-size: 1rem;
  color: #b7b7b7;
}
.bloco {
  display: flex;
  flex-direction: column;
  background: #141414;
  border-radius: 8px;
  padding: 20px;
  min-height: 290px;
  border: 2px solid transparent;
  position: relative;
}
.bloco:hover {
  border: 2px solid #262626;
}
.abrir-pagina {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  display: flex;
  padding: 4px;
  background: #272727;
  border-radius: 50%;
}

/* temporizador */
.temporizador__formulario {
  margin-bottom: 55px;
}
.temporizador__tempo {
  align-self: center;
  font-family: "Oxanium";
  font-size: 3rem;
  font-weight: 500;
  color: #fff;
}

/* horario atual */
.horario-atual__conteudo {
  align-items: center;
  justify-content: center;
}
.horario-atual__hora {
  font-family: "Oxanium";
  font-size: 3rem;
  font-weight: 500;
  color: #fff;
}
.horario-atual__local {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  color: #b7b7b7;
}

/* cronometro */
.cronometro__conteudo {
  align-items: center;
  justify-content: center;
}
.cronometro__tempo {
  font-family: "Oxanium";
  font-size: 3rem;
  font-weight: 500;
  color: #fff;
}
.cronometro__opcoes button {
  border: none;
  border-radius: 8px;
  padding: 4px 8px;
  background: #272727;
  color: #7c7c7c;
}

/* calculadora de idade */
.calculadora-idade__form {
  margin-bottom: 12px;
}
.calculadora-idade__texto {
  font-family: "Poppins";
  font-size: 2rem;
  font-weight: 400;
  color: #b7b7b7;
}
.calculadora-idade__texto--result {
  font-family: "Oxanium";
  font-size: 2rem;
  font-weight: 500;
  color: #fff;
}

/* conversor de tempo */
.conversor-tempo__opcoes {
  display: grid;
  grid-template-columns: 1fr auto;
  margin-bottom: 6px;
}
.conversor-tempo__conteudo input {
  max-width: 10ch;
}

/* calculo entre datas */
.calculo-datas__conteudo form {
  margin-bottom: 40px;
}
.calculo-datas__opcoes {
  display: grid;
  grid-template-columns: 1fr auto;
  margin-bottom: 8px;
}
.calculo-datas__dias {
  font-family: "Poppins";
  color: #b7b7b7;
  font-size: 2rem;
  align-self: center;
}
.calculo-datas__dias-resultado {
  font-family: "Oxanium";
  font-size: 2rem;
  font-weight: 500;
  color: #fff;
}

/* footer */
.footer {
  font-family: "Poppins", sans-serif;
  font-size: 0.875rem;
  color: #b7b7b7;
  padding: 60px 0px;
  text-align: center;
}
.footer a {
  color: #b7b7b7;
  display: inline-flex;
  align-items: center;
  gap: 4px;
}
