.temporizador__titulo:hover {
  cursor: text;
}
.temporizador__output {
  font-family: var(--fonte-secundaria);
  font-size: var(--fonte-xxxl);
  color: var(--cor-texto-primario);
}
.temporizador__data {
  display: grid;
  place-content: center;
}
.temporizador__input {
  background: var(--cor-superficie-secundaria);
  color: var(--cor-texto-secundario);
  font-family: var(--fonte-primaria);
  border: none;
  border-radius: 12px;
  padding: 4px 8px;
}
@media (max-width: 700px) {
  .temporizador__output {
    font-size: var(--fonte-xxl);
  }
}
