h1:hover {
  cursor: text;
}
.estrutura {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 120px 1fr;
  grid-template-rows: 60px auto;
  grid-template-areas:
    "sidenav header"
    "sidenav conteudo";
}
.header {
  grid-area: header;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px 0 20px;
}
.header__lista {
  display: flex;
  gap: 12px;
  align-items: center;
}
.header__btn {
  border: none;
  background: none;
}
.sidenav {
  grid-area: sidenav;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--cor-superficie-primaria);
}
.sidenav__lista {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.sidenav__item {
  display: grid;
  place-content: center;
}
.sidenav__item img {
  display: block;
  justify-self: center;
}
.sidenav__item a {
  background: var(--cor-fundo);
  border-radius: 20px;
  padding: 20px 0px;
  width: 100px;
  height: 100px;
  font-family: var(--fonte-primaria);
  font-size: var(--fonte-sm);
  color: var(--cor-texto-primario);
  text-align: center;
}
.sidenav__item a:hover {
  background: var(--cor-superficie-secundaria);
}

.conteudo {
  grid-area: conteudo;
  display: grid;
  place-content: center;
}
.temporizador__titulo {
  font-size: var(--fonte-xl);
  color: var(--cor-texto-secundario);
  text-align: center;
}
.temporizador__output {
  font-family: var(--fonte-secundaria);
  font-size: var(--fonte-xxl);
  color: var(--cor-texto-primario);
}
.temporizador__data {
  display: grid;
  place-content: center;
}
.temporizador__input {
  background: var(--cor-superficie-secundaria);
  color: var(--cor-texto-secundario);
  font-family: var(--fonte-primaria);
  border: none;
  border-radius: 12px;
  padding: 4px 8px;
}
