/* ocultar itens */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
}
.u-bloco {
  display: flex;
  flex-direction: column;
  background: var(--cor-superficie-primaria);
  border-radius: 8px;
  padding: 20px;
  min-height: 290px;
  border: 2px solid transparent;
  position: relative;
}
.u-bloco:hover {
  border: 2px solid var(--cor-borda-padrao);
}
.u-ferramenta {
  flex: 1 1 calc(33.333% - 27px);
  min-width: 270px;
}
.u-ferramenta-titulo {
  font-family: var(--fonte-primaria);
  font-size: var(--font-md);
  font-weight: var(--fonte-peso-regular);
  color: var(--cor-texto-primario);
  margin-bottom: 4px;
}
.u-ferramenta-titulo a {
  color: var(--cor-texto-primario);
}
.u-input {
  background: var(--cor-superficie-secundaria);
  border: none;
  border-radius: 8px;
  padding: 4px 8px;
  color: var(--cor-texto-suave);
}
.u-label {
  font-family: var(--fonte-primaria);
  font-size: var(--fonte-md);
  color: var(--cor-texto-secundario);
}
.u-abrir-pagina {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  display: flex;
  padding: 8px;
  background: var(--cor-superficie-secundaria);
  border-radius: 50%;
}

/* paginas internas */
.u-titulo-pagina {
  font-family: var(--fonte-primaria);
  font-size: var(--fonte-lg);
  font-weight: var(--fonte-peso-regular);
  color: var(--cor-texto-secundario);
  text-align: center;
}
.u-expandir {
  position: absolute;
  bottom: 2rem;
  right: 2rem;
}
.u-expandir button {
  border: none;
  background: none;
}
.u-expandir button img {
  width: 60px;
  height: 60px;
}
