:root {
  /* cores */
  /* superfícies */
  --cor-fundo: #000;
  --cor-superficie-primaria: #141414;
  --cor-superficie-secundaria: #272727;
  --cor-borda-padrao: #262626;

  /* texto */
  --cor-texto-primario: #ffffff;
  --cor-texto-secundario: #b7b7b7;
  --cor-texto-suave: #7c7c7c;

  /* estados */
  --cor-foco: #6b6b6b;

  /* tipografia */
  /* famílias tipográficas */
  --fonte-primaria: "Poppins", sans-serif;
  --fonte-secundaria: "Oxanium", sans-serif;

  /* pesos */
  --fonte-peso-regular: 400;
  --fonte-peso-medio: 500;

  /* tamanhos */
  --fonte-sm: 0.875rem;
  --fonte-md: 1rem;
  --fonte-lg: 2rem;
  --fonte-xl: 3rem;
  --fonte-xxl: 6rem;
  --fonte-xxxl: 12rem;
}

body[data-tema="light"] {
  --cor-fundo: #fff;
  --cor-superficie-primaria: #f0f0f0;
  --cor-superficie-secundaria: #d3d3d3;
  --cor-borda-padrao: #c9c9c9;

  /* texto */
  --cor-texto-primario: #000;
  --cor-texto-secundario: #b7b7b7;
  --cor-texto-suave: #7c7c7c;

  /* estados */
  --cor-foco: #a3a3a3;
}

/* Tablets */
@media (max-width: 1000px) {
  :root {
    --fonte-sm: 0.75rem;
    --fonte-lg: 1.5rem;
    --fonte-xl: 2.5rem;
    --fonte-xxl: 4rem;
    --fonte-xxxl: 8rem;
  }
}

/* Smartphones */
/* @media (max-width: 700px) {
  :root {
    --fonte-sm: 0.75rem;
    --fonte-lg: 1.2rem;
    --fonte-xl: 2rem;
    --fonte-xxl: 3rem;
    --fonte-xxxl: 6rem;
  }
} */

/* Telas muito pequenas */
/* @media (max-width: 480px) {
  :root {
    --fonte-lg: 1rem;
    --fonte-xl: 1.5rem;
    --fonte-xxl: 2.5rem;
    --fonte-xxxl: 4rem;
  }
} */
